<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HitFX01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{64,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,132}</string>
                <key>textureRect</key>
                <string>{{473,1},{64,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HitFX02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{64,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,132}</string>
                <key>textureRect</key>
                <string>{{539,1},{64,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HitFX03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HitFX04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,132}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HitFX05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,132}</string>
                <key>spriteSourceSize</key>
                <string>{110,132}</string>
                <key>textureRect</key>
                <string>{{205,1},{110,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HitFX06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,132}</string>
                <key>spriteSourceSize</key>
                <string>{110,132}</string>
                <key>textureRect</key>
                <string>{{339,1},{110,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KT2_HitFX.png</string>
            <key>size</key>
            <string>{604,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a6d2bda508bdc23b215db1b3fe0ac76:bdff6848c2d09e72eb9b2d2e9cd38e7d:3fbf08f9dc4738f2f48dcdba380a8fb4$</string>
            <key>textureFileName</key>
            <string>KT2_HitFX.png</string>
        </dict>
    </dict>
</plist>
