<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IceBall_Frame01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,34}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{172,266}</string>
                <key>textureRect</key>
                <string>{{103,695},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceBall_Frame02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,25}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{172,266}</string>
                <key>textureRect</key>
                <string>{{1,695},{100,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceBall_Frame03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{168,188}</string>
                <key>spriteSourceSize</key>
                <string>{172,266}</string>
                <key>textureRect</key>
                <string>{{1,505},{168,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceBall_Frame04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{172,234}</string>
                <key>spriteSourceSize</key>
                <string>{172,266}</string>
                <key>textureRect</key>
                <string>{{1,269},{172,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceBall_Frame05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,266}</string>
                <key>spriteSourceSize</key>
                <string>{172,266}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>IcaBall_Animation.png</string>
            <key>size</key>
            <string>{174,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c22fdf406603c4cbef5bc11ac058fd5:dbf896a07f7dfdc59ca81cee1088b440:a8e5d818d582c74fb8226180890fe542$</string>
            <key>textureFileName</key>
            <string>IcaBall_Animation.png</string>
        </dict>
    </dict>
</plist>
