<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IceCharacter_Frames01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-129}</string>
                <key>spriteSize</key>
                <string>{334,156}</string>
                <key>spriteSourceSize</key>
                <string>{398,462}</string>
                <key>textureRect</key>
                <string>{{1,1583},{334,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceCharacter_Frames02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-79}</string>
                <key>spriteSize</key>
                <string>{368,256}</string>
                <key>spriteSourceSize</key>
                <string>{398,462}</string>
                <key>textureRect</key>
                <string>{{1,1325},{368,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceCharacter_Frames03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-26}</string>
                <key>spriteSize</key>
                <string>{396,404}</string>
                <key>spriteSourceSize</key>
                <string>{398,462}</string>
                <key>textureRect</key>
                <string>{{1,919},{396,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceCharacter_Frames04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{398,454}</string>
                <key>spriteSourceSize</key>
                <string>{398,462}</string>
                <key>textureRect</key>
                <string>{{1,463},{398,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceCharacter_Frames05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{398,460}</string>
                <key>spriteSourceSize</key>
                <string>{398,462}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>IcaCharacter_Animation.png</string>
            <key>size</key>
            <string>{400,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37c8fa403495643785f33af9ad487988:81e56f7b8cb4d8d98939e9bfd09d1792:72571a9a42b66f848ab85e8588471472$</string>
            <key>textureFileName</key>
            <string>IcaCharacter_Animation.png</string>
        </dict>
    </dict>
</plist>
