<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BuzKale_Frame01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{40,3}</string>
			<key>spriteSize</key>
			<string>{250,311}</string>
			<key>spriteSourceSize</key>
			<string>{330,341}</string>
			<key>textureRect</key>
			<string>{{1233,1},{250,311}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BuzKale_Frame02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{40,3}</string>
			<key>spriteSize</key>
			<string>{250,313}</string>
			<key>spriteSourceSize</key>
			<string>{330,341}</string>
			<key>textureRect</key>
			<string>{{981,1},{250,313}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BuzKale_Frame03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,6}</string>
			<key>spriteSize</key>
			<string>{314,329}</string>
			<key>spriteSourceSize</key>
			<string>{330,341}</string>
			<key>textureRect</key>
			<string>{{665,1},{314,329}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BuzKale_Frame04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{330,339}</string>
			<key>spriteSourceSize</key>
			<string>{330,341}</string>
			<key>textureRect</key>
			<string>{{1,1},{330,339}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BuzKale_Frame05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{330,339}</string>
			<key>spriteSourceSize</key>
			<string>{330,341}</string>
			<key>textureRect</key>
			<string>{{333,1},{330,339}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>BuzKale_Animation02Small.png</string>
		<key>size</key>
		<string>{1484,341}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d9a7ec10764f8f25342808fa9b0b43cf:07c176641608966f6aaba9b142d95a49:2f99fecc169d4700b3c7d0108a53819f$</string>
		<key>textureFileName</key>
		<string>BuzKale_Animation02Small.png</string>
	</dict>
</dict>
</plist>
