<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>JumpFX01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{17,-21}</string>
			<key>spriteSize</key>
			<string>{166,58}</string>
			<key>spriteSourceSize</key>
			<string>{280,100}</string>
			<key>textureRect</key>
			<string>{{75,1},{166,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>JumpFX02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-13}</string>
			<key>spriteSize</key>
			<string>{198,72}</string>
			<key>spriteSourceSize</key>
			<string>{280,100}</string>
			<key>textureRect</key>
			<string>{{1,1},{198,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>JumpFX03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{274,88}</string>
			<key>spriteSourceSize</key>
			<string>{280,100}</string>
			<key>textureRect</key>
			<string>{{417,1},{274,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>JumpFX04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{276,92}</string>
			<key>spriteSourceSize</key>
			<string>{280,100}</string>
			<key>textureRect</key>
			<string>{{415,99},{276,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>JumpFX05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{278,94}</string>
			<key>spriteSourceSize</key>
			<string>{280,100}</string>
			<key>textureRect</key>
			<string>{{135,99},{278,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>JumpFX06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{280,96}</string>
			<key>spriteSourceSize</key>
			<string>{280,100}</string>
			<key>textureRect</key>
			<string>{{135,1},{280,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>JumpFX.png</string>
		<key>size</key>
		<string>{692,200}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7d6b988bace9a0755580fa6ce17eb1ab:1792e0973d9379cba57d8885c72f6b6c:91b7c1ca3f41a931306a54444bb6ddf6$</string>
		<key>textureFileName</key>
		<string>JumpFX.png</string>
	</dict>
</dict>
</plist>
