<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KickFX01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,96}</string>
                <key>textureRect</key>
                <string>{{89,179},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KickFX02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{36,78}</string>
                <key>spriteSourceSize</key>
                <string>{62,96}</string>
                <key>textureRect</key>
                <string>{{63,99},{36,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KickFX03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{50,86}</string>
                <key>spriteSourceSize</key>
                <string>{62,96}</string>
                <key>textureRect</key>
                <string>{{1,197},{50,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KickFX04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{62,96}</string>
                <key>textureRect</key>
                <string>{{65,1},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KickFX05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{60,96}</string>
                <key>spriteSourceSize</key>
                <string>{62,96}</string>
                <key>textureRect</key>
                <string>{{1,99},{60,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KickFX06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{62,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KT2_KickFX02.png</string>
            <key>size</key>
            <string>{126,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:376b3459c50f31fd8dc755b7f6d7b74c:2c45d4c4501375962f1d2633c162ee34:862c2fadb183446303e6afbb1e0de986$</string>
            <key>textureFileName</key>
            <string>KT2_KickFX02.png</string>
        </dict>
    </dict>
</plist>
