<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CharacterIcon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,128},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{107,128},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{107,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{213,128},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{319,128},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{213,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{319,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{425,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{531,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{637,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{743,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{425,128},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{531,128},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{849,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{955,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{637,128},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{743,128},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{849,128},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{955,128},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1061,1},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1061,126},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1167,1},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1273,1},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1167,126},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterIcon26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1273,126},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Character-EventIcon.png</string>
            <key>size</key>
            <string>{1378,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34321153ec13904d0fbbbd605ce4cf09:a1b88329d21f3e61d1432f690ed07aa6:ed63700c9e8921fe57d0bc98a0d54f4f$</string>
            <key>textureFileName</key>
            <string>Character-EventIcon.png</string>
        </dict>
    </dict>
</plist>
