<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Diamond_Frame_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{106,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{899,1},{106,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{108,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{677,120},{108,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{229,120},{110,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{231,1},{110,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{341,120},{110,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{343,1},{110,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-22}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{453,120},{110,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-22}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{455,1},{110,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,120},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{115,120},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{114,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{117,1},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{565,120},{110,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{567,1},{110,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{108,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{679,1},{108,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{108,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{787,120},{108,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{108,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{789,1},{108,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{108,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{897,120},{108,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1223,1},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1223,120},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{106,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1007,1},{106,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{106,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1007,120},{106,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{106,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1115,1},{106,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_Frame_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{106,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1115,120},{106,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DiamondPlist.png</string>
            <key>size</key>
            <string>{1328,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5de53409f791f351f42088ee32bf1ced:412b2a883df6f8a04e8c1441c0139eaa:3c2d8e2862e4e953e15c69a78ff75c74$</string>
            <key>textureFileName</key>
            <string>DiamondPlist.png</string>
        </dict>
    </dict>
</plist>
