<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GachaPack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{107,529},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{213,523},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{319,523},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,678},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{107,648},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{213,642},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{319,642},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,797},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{107,408},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{319,398},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,426},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{104,143}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{104,141}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,146},{104,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{104,137}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{107,1},{104,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{104,135}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,289},{104,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{104,135}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{107,140},{104,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{104,135}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{213,1},{104,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{104,133}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{319,1},{104,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{104,133}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{319,136},{104,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{104,131}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{213,138},{104,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{107,277},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{213,271},{104,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{319,271},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{104,121}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{213,400},{104,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{1,557},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{107,767},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{213,761},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaPack28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{319,761},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GachaPack-EventIcon.png</string>
            <key>size</key>
            <string>{424,915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e610dcf2c68d58f876e05d04325177a:699108ea69879895dee823e83ce31473:f4f1521e624a6b15195fd64786ade951$</string>
            <key>textureFileName</key>
            <string>GachaPack-EventIcon.png</string>
        </dict>
    </dict>
</plist>
