<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpecialPowers_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{259,132},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{365,132},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{471,132},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{577,132},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{683,132},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{104,121}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1591,1},{104,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-21}</string>
                <key>spriteSize</key>
                <string>{116,121}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{895,132},{116,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SpecialPowers_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{120,127}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1,132},{120,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SpecialPowers_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{107,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{213,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{319,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{425,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{531,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{637,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{743,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{849,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{955,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1018,132},{104,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SpecialPowers_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1061,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1149,132},{104,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SpecialPowers_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1167,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1273,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1280,132},{104,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SpecialPowers_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1379,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1411,132},{104,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SpecialPowers_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1485,1},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{120,127}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{130,132},{120,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SpecialPowers_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{104,121}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{1591,124},{104,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpecialPowers_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{130,163}</string>
                <key>textureRect</key>
                <string>{{789,132},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpecialPowers_EventIcon.png</string>
            <key>size</key>
            <string>{1696,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42f9935bac0647fcd661a8479cf30f5a:1e9c29702ada6b30631c8a319a0aa1c4:2dcaf76c9cebbf55710503bdb2dacb53$</string>
            <key>textureFileName</key>
            <string>SpecialPowers_EventIcon.png</string>
        </dict>
    </dict>
</plist>
