<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fire-01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{0,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fire-02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{48,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fire-03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{96,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fire-04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{144,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fire-05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{192,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fire-06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{240,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fire-07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{288,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fire-08.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{336,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fire-09.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{384,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fire-010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{432,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>fire.png</string>
		<key>size</key>
		<string>{480,56}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:69f536370043befaca544cfc67923714:0116661d2ecf2fdd6efb9ef6c9769b87:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
		<key>textureFileName</key>
		<string>fire.png</string>
	</dict>
</dict>
</plist>
